<div class="appbar">
    Money saver
</div>
<div class="tablayout">
    <div class="row">
        <div class="">
            <div class="col-xs-3 text-center">
                INCOME
            </div>

            <div class="col-xs-3 text-center">
                EXPENSE
            </div>

            <div class="col-xs-3 text-center">
                CHART
            </div>

            <div class="col-xs-3 text-center">
                SETTING
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>