.appbar {
    width: 100%;
    background-color: #FF4181;
    color: white;
    font-size: 20px;
    margin: 0px;
    padding: 15px;
}

.tablayout {
    border-bottom: 1px solid #FFF3F3;
    font-size: 12px;
    width: 100%;
    padding: 15px;
    padding-right: 15px;
    color: #FF4181;
}